<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.senioritaandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"></activity>
        <activity android:name=".Driver.Activity.MakeOfferActivity" />
        <activity android:name=".Driver.Activity.ClientInfoActivity" />
        <activity android:name=".Client.Activity.MakeRequestActivity" />
        <activity android:name=".Client.Activity.DriverInfoActivity" />
        <activity android:name=".Client.Activity.MyRequestsActivity" />
        <activity android:name=".Client.Activity.HistoryClientActivity" />
        <activity android:name=".Client.Activity.AcceptedOffersActivity" />
        <activity android:name=".Client.Activity.CurrentOffersActivity" />
        <activity android:name=".HomeClientActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Driver.Activity.MyOffersActivity" />
        <activity android:name=".Driver.Activity.AcceptedRequestsActivity" />
        <activity android:name=".Driver.Activity.HistoryActivity" />
        <activity android:name=".HomeDriverActivity" />
        <activity android:name=".User.ProfileActivity" />
        <activity android:name=".Driver.Activity.CurrentRequestsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>